.modal-dialog {
  max-width: unset !important;
}

.modal-body {
  padding: 0 1.5rem 1.5rem 1.5rem !important;
}

.form-control {
  height: calc(1.5em + 0.75rem + 10px) !important;
}

.input-group .input-group-prepend {
  width: 10%;
}

.input-group .input-group-prepend .input-group-text {
  width: 100%;
  justify-content: center;
}

.error-msg {
  color: var(--danger);
  margin-bottom: 1rem;
}

.modal-backdrop {
  backdrop-filter: blur(3px);
  background-color: #01223770 !important;
}

.modal-backdrop.show {
  opacity: 1 !important;
}
